<!doctype html>
<html class="h-100" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>CryptoMunt - Wallet</title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

</head>

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to your <i> CryptoMunt </i> wallet</h1>
        <p class="col-lg-10 fs-4">Your part of the revolution in crypto currency. <br> All aboard the <i>CryptoMunt</i>
          rocketship to the moon and way beyond!🚀</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form action="payment" class="p-4 p-md-5 border rounded-3 bg-dark" data-bitwarden-watching="1" method="get">
          <h1>Send <i>CryptoMunt</i> to:</h1>
          <div class="form-floating mb-3 text-dark">
            <input class="form-control " id="accountnumber" placeholder="Account number">
            <label for="accountnumber">Account number</label>
          </div>
          <div class="form-floating mb-3 text-dark">
            <input class="form-control " id="cm" placeholder="123.456" type="number">
            <label for="cm">Amount</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Send <i>CryptoMunt</i></button>
          <br><br>
          <button class="w-100 btn btn-lg btn-primary" formaction="cryptie" type="submit">Create
            <i>Cryptie</i></button>

        </form>
        <br><br>
        <form action="ledger" class="p-4 p-md-5 border rounded-3 bg-dark" data-bitwarden-watching="1">
          <h1>Ledger:</h1>
          <div class="row">
            <div class="col"> <button class="w-100 btn btn-sm btn-primary" type="submit">More info / Check other
                account(s)</button></div>
            <hr class="my-4">

            <h4>📈 Balance: 4.001CM</h4>
            <br>
            <div>
              <div class="row">
                <div class="col">
                  <h5>Sent/Received</h5>
                </div>
                <div class="col">
                  <h5> Amount</h5>
                </div>
                <div class="col">
                  <h5>To/From</h5>
                </div>
              </div>
              <hr class="my-3">

              <div class="row">
                <div class="col">
                  <h5> Received</h5>
                </div>
                <div class="col">
                  <h5> 2.000CM</h5>
                </div>
                <div class="col">
                  <h5> 1faSh83A</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5> Sent</h5>
                </div>
                <div class="col">
                  <h5> 200CM</h5>
                </div>
                <div class="col">
                  <h5> d7sa78dR</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5> Sent</h5>
                </div>
                <div class="col">
                  <h5> 20.000CM</h5>
                </div>
                <div class="col">
                  <h5> Qef93P08</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5> Sent</h5>
                </div>
                <div class="col">
                  <h5> 1CM</h5>
                </div>
                <div class="col">
                  <h5> n983mAS9</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h5> Received</h5>
                </div>
                <div class="col">
                  <h5> 200CM</h5>
                </div>
                <div class="col">
                  <h5> 98uyr32A</h5>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>